C 0 0 "GND_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VCC" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VCC" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "RF_OUT" 0 -200 0 0 60 0 L
X "PIN_TEXT" "RF_OUT" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 1300 -200 "GND_2" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "GND_2" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -100 "RF_IN" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "RF_IN" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 0 "CTRL" 1300 0 0 0 60 0 R
X "PIN_TEXT" "CTRL" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
L 200 100 1100 100 -1 0
L 1100 -300 1100 100 -1 0
L 1100 -300 200 -300 -1 0
L 200 100 200 -300 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

