C 1300 0 "GND_1" 1300 0 0 0 60 0 R
X "PIN_TEXT" "GND_1" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 1300 -100 "RESV_1" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "RESV_1" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 -200 "SDA" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "SDA" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -300 "SCL" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "SCL" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -300 1300 -300 -1 0
C 0 -300 "RESV_2" 0 -300 0 0 60 0 L
X "PIN_TEXT" "RESV_2" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -200 "RESV_3" 0 -200 0 0 60 0 L
X "PIN_TEXT" "RESV_3" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -100 "GND_2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "GND_2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 0 "VDD" 0 0 0 0 60 0 L
X "PIN_TEXT" "VDD" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
L 200 100 1100 100 -1 0
L 1100 -400 1100 100 -1 0
L 1100 -400 200 -400 -1 0
L 200 100 200 -400 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

