C 0 0 "PA2" 0 0 0 0 60 0 L
X "PIN_TEXT" "PA2" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "PA3" 0 -100 0 0 60 0 L
X "PIN_TEXT" "PA3" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "VDD_1" 0 -200 0 0 60 0 L
X "PIN_TEXT" "VDD_1" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "PA0" 0 -300 0 0 60 0 L
X "PIN_TEXT" "PA0" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "PA11" 0 -400 0 0 60 0 L
X "PIN_TEXT" "PA11" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "PA10" 0 -500 0 0 60 0 L
X "PIN_TEXT" "PA10" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "PA9" 0 -600 0 0 60 0 L
X "PIN_TEXT" "PA9" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "PA8" 0 -700 0 0 60 0 L
X "PIN_TEXT" "PA8" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 300 -1400 "PB6" 300 -1400 0 0 60 0 L
X "PIN_TEXT" "PB6" 330 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 300 -1200 300 -1400 -1 0
C 400 -1400 "PB12" 400 -1400 0 0 60 0 L
X "PIN_TEXT" "PB12" 430 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1200 400 -1400 -1 0
C 500 -1400 "PB13" 500 -1400 0 0 60 0 L
X "PIN_TEXT" "PB13" 530 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1200 500 -1400 -1 0
C 600 -1400 "PB14" 600 -1400 0 0 60 0 L
X "PIN_TEXT" "PB14" 630 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1200 600 -1400 -1 0
C 700 -1400 "PB15" 700 -1400 0 0 60 0 L
X "PIN_TEXT" "PB15" 730 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1200 700 -1400 -1 0
C 800 -1400 "LPAWUR" 800 -1400 0 0 60 0 L
X "PIN_TEXT" "LPAWUR" 830 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1200 800 -1400 -1 0
C 900 -1400 "RX" 900 -1400 0 0 60 0 L
X "PIN_TEXT" "RX" 930 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -1200 900 -1400 -1 0
C 1000 -1400 "EXTGND" 1000 -1400 0 0 60 0 L
X "PIN_TEXT" "EXTGND" 1030 -1170 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -1200 1000 -1400 -1 0
C 1400 0 "NRST" 1400 0 0 0 60 0 R
X "PIN_TEXT" "NRST" 1170 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 0 1400 0 -1 0
C 1400 -100 "PB7" 1400 -100 0 0 60 0 R
X "PIN_TEXT" "PB7" 1170 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -100 1400 -100 -1 0
C 1400 -200 "PA1" 1400 -200 0 0 60 0 R
X "PIN_TEXT" "PA1" 1170 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -200 1400 -200 -1 0
C 1400 -300 "OSCIN" 1400 -300 0 0 60 0 R
X "PIN_TEXT" "OSCIN" 1170 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -300 1400 -300 -1 0
C 1400 -400 "OSCOUT" 1400 -400 0 0 60 0 R
X "PIN_TEXT" "OSCOUT" 1170 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -400 1400 -400 -1 0
C 1400 -500 "VDDRF" 1400 -500 0 0 60 0 R
X "PIN_TEXT" "VDDRF" 1170 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -500 1400 -500 -1 0
C 1400 -600 "TX" 1400 -600 0 0 60 0 R
X "PIN_TEXT" "TX" 1170 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -600 1400 -600 -1 0
C 1400 -700 "TX_HP" 1400 -700 0 0 60 0 R
X "PIN_TEXT" "TX_HP" 1170 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -700 1400 -700 -1 0
C 300 700 "EP" 300 700 0 0 60 0 R
X "PIN_TEXT" "EP" 330 470 90 0.00 60 0 0 2 0 0 1 0 74
L 300 500 300 700 -1 0
C 400 700 "PB2" 400 700 0 0 60 0 R
X "PIN_TEXT" "PB2" 430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 400 500 400 700 -1 0
C 500 700 "PB1" 500 700 0 0 60 0 R
X "PIN_TEXT" "PB1" 530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 500 500 500 700 -1 0
C 600 700 "PB0" 600 700 0 0 60 0 R
X "PIN_TEXT" "PB0" 630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 600 500 600 700 -1 0
C 700 700 "VCAP" 700 700 0 0 60 0 R
X "PIN_TEXT" "VCAP" 730 470 90 0.00 60 0 0 2 0 0 1 0 74
L 700 500 700 700 -1 0
C 800 700 "VFBSD" 800 700 0 0 60 0 R
X "PIN_TEXT" "VFBSD" 830 470 90 0.00 60 0 0 2 0 0 1 0 74
L 800 500 800 700 -1 0
C 900 700 "VSSSD" 900 700 0 0 60 0 R
X "PIN_TEXT" "VSSSD" 930 470 90 0.00 60 0 0 2 0 0 1 0 74
L 900 500 900 700 -1 0
C 1000 700 "VLXSD" 1000 700 0 0 60 0 R
X "PIN_TEXT" "VLXSD" 1030 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 500 1000 700 -1 0
C 1100 700 "VDDSD" 1100 700 0 0 60 0 R
X "PIN_TEXT" "VDDSD" 1130 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 500 1100 700 -1 0
L 200 500 1200 500 -1 0
L 1200 -1200 1200 500 -1 0
L 1200 -1200 200 -1200 -1 0
L 200 500 200 -1200 -1 0
P "$LOCATION" "?" 1250 670 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

