C 0 0 "CE#" 0 0 0 0 60 0 L
X "PIN_TEXT" "CE#" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "SO_(IO1)" 0 -100 0 0 60 0 L
X "PIN_TEXT" "SO_(IO1)" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "WP#_(IO2)" 0 -200 0 0 60 0 L
X "PIN_TEXT" "WP#_(IO2)" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "GND" 0 -300 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 900 -800 "EP" 900 -800 0 0 60 0 L
X "PIN_TEXT" "EP" 930 -570 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -600 900 -800 -1 0
C 1800 0 "VCC" 1800 0 0 0 60 0 R
X "PIN_TEXT" "VCC" 1570 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 0 1800 0 -1 0
C 1800 -100 "HOLD#_(IO3)" 1800 -100 0 0 60 0 R
X "PIN_TEXT" "HOLD#_(IO3)" 1570 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -100 1800 -100 -1 0
C 1800 -200 "SCK" 1800 -200 0 0 60 0 R
X "PIN_TEXT" "SCK" 1570 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -200 1800 -200 -1 0
C 1800 -300 "SI_(IO0)" 1800 -300 0 0 60 0 R
X "PIN_TEXT" "SI_(IO0)" 1570 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -300 1800 -300 -1 0
L 200 100 1600 100 -1 0
L 1600 -600 1600 100 -1 0
L 1600 -600 200 -600 -1 0
L 200 100 200 -600 -1 0
P "$LOCATION" "?" 1650 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

