C 0 0 "1D+" 0 0 0 0 60 0 L
X "PIN_TEXT" "1D+" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "1D-" 0 -100 0 0 60 0 L
X "PIN_TEXT" "1D-" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "2D+" 0 -200 0 0 60 0 L
X "PIN_TEXT" "2D+" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "2D-" 0 -300 0 0 60 0 L
X "PIN_TEXT" "2D-" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "GND" 0 -400 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 500 -900 "EP" 500 -900 0 0 60 0 L
X "PIN_TEXT" "EP" 530 -670 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -700 500 -900 -1 0
C 1000 0 "VCC" 1000 0 0 0 60 0 R
X "PIN_TEXT" "VCC" 770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 800 0 1000 0 -1 0
C 1000 -100 "S" 1000 -100 0 0 60 0 R
X "PIN_TEXT" "S" 770 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -100 1000 -100 -1 0
C 1000 -200 "D+" 1000 -200 0 0 60 0 R
X "PIN_TEXT" "D+" 770 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -200 1000 -200 -1 0
C 1000 -300 "D-" 1000 -300 0 0 60 0 R
X "PIN_TEXT" "D-" 770 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -300 1000 -300 -1 0
C 1000 -400 "OE*" 1000 -400 0 0 60 0 R
X "PIN_TEXT" "OE*" 770 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -400 1000 -400 -1 0
L 200 100 800 100 -1 0
L 800 -700 800 100 -1 0
L 800 -700 200 -700 -1 0
L 200 100 200 -700 -1 0
P "$LOCATION" "?" 850 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

